<!DOCTYPE html>
<html>
  <head>
    <title>MoonCamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAIt7Jp8FA4nafxdv6Ve3LDcaOrlPzaPOA" %>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Quicksand">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="favicon.ico" />
  <!-- Primary Meta Tags -->
<title>MoonCamp</title>
<meta name="title" content="MoonCamp">
<meta name="author" content="Michael Wideburg">
<meta name="description" content="MoonCamp: Camp out among the stars on a moon in out solar system.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://mooncamp.herokuapp.com/">
<meta property="og:title" content="MoonCamp">
<meta property="og:description" content="MoonCamp: Camp out among the stars on a moon in out solar system.">
<meta property="og:image" content="mooncamp.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://mooncamp.herokuapp.com/">
<meta property="twitter:title" content="MoonCamp">
<meta property="twitter:description" content="MoonCamp: Camp out among the stars on a moon in out solar system.">
<meta property="twitter:image" content="mooncamp.png">
  </head>

  <body>
    
    <%= yield %>
  </body>
</html>
